.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 18px;
  cursor: pointer;
  animate: 0.2s;
  background: #dddddd;
  border-radius: 9px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dddddd;
}

input[type=range]::-moz-range-track {
  height: 18px;
  cursor: pointer;
  animate: 0.2s;
  background: #dddddd;
  border-radius: 9px;
  border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 9px;
  background: #000000;
  cursor: pointer;
}
